/* imports */

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Hind");

/* landing page */

.header-color {
  background: none;
}

body {
  color: #fff;
  /* background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443); */

  /* background: #355c7d; 
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); 
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  );  */

  background: linear-gradient(to right, #5fc3e4, #e55d87);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-title img {
  margin-top: 20px;
  height: 50px;
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.avatar-img {
  height: 180px;
  width: 180px;
  padding-top: 10px;
  border-radius: 50%;
}

.banner-text {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.banner-text h1 {
  font-weight: bold;
  text-align: center;
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Hind", sans-serif;
  font-weight: bold;
}

.banner-text p {
  font-size: 20px;
  /* padding: 1em; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 10px;
}
