/* imports */

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Hind");

/* landing page */

.header-content {
  height: 100vh;
  background: #e38d83;
  color: white;
  overflow: hidden;
}

/* content grid */

.landing-grid {
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  height: 100%;
  width: 100%;
}

.avatar-img {
  height: 180px;
  width: 180px;
  padding-top: 10px;
  border-radius: 50%;
}

.banner-text {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px;
}

.banner-text h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: bold;
}

.banner-text h4 {
  font-size: 40px;
  border: 4px solid #ffff;
  padding: 15px;
}

.banner-text p {
  font-size: 25px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 2.5em;
  padding: 10px;
}

/* media query for mobile layout */

@media only screen and (max-width: 500px) {
  .landing-grid {
    text-align: center;
    position: fixed;
    top: 7%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  .banner-text {
    width: 80%;
    margin-top: 20px;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .banner-text h4 {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 20px;
  }
  .social-links i {
    color: white;
    font-size: 2em;
    padding: 10px;
  }
}
